/*
 * Copyright (c) 2023 Espressif Systems (Shanghai) Co., Ltd.
 *
 * SPDX-License-Identifier: Apache-2.0
 */
/dts-v1/;

#include <espressif/esp32/esp32_wroom_32ue_n4.dtsi>
#include "segment_controller-pinctrl.dtsi"
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <espressif/partitions_0x1000_amp.dtsi>

/ {
	model = "Espressif ESP32-DevkitC PROCPU";
	compatible = "espressif,esp32";

	aliases {
		uart-0 = &uart0;
		sw0 = &button0;
		watchdog0 = &wdt0;
		shift-register-spi = &spi2;
	};

	buttons {
		compatible = "gpio-keys";
		button0: button_0 {
			gpios = <&gpio0 0 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "BOOT Button";
			zephyr,code = <INPUT_KEY_0>;
		};
	};

	chosen {
		zephyr,sram = &sram1;
		zephyr,console = &uart0;
		zephyr,shell-uart = &uart0;
		zephyr,flash = &flash0;
		zephyr,code-partition = &slot0_partition;
		zephyr,bt-hci = &esp32_bt_hci;
	};

    relays {
    	compatible = "gpio-leds";
    	relay_0: relay_0 {
    		gpios = <&gpio0 17 GPIO_ACTIVE_HIGH>;
    		label = "RELAY_0";
    	};
    	relay_1: relay_1 {
    		gpios = <&gpio0 18 GPIO_ACTIVE_HIGH>;
    		label = "RELAY_1";
    	};
    	relay_2: relay_2 {
    		gpios = <&gpio0 22 GPIO_ACTIVE_HIGH>;
    		label = "RELAY_2";
    	};
    	relay_3: relay_3 {
    		gpios = <&gpio0 23 GPIO_ACTIVE_HIGH>;
    		label = "RELAY_3";
    	};
    	shift_register_oe: shift_register_oe {
            // WHY DOESNT GPIO 33 WORK???
    		gpios = <&gpio0 27 GPIO_ACTIVE_HIGH>;
    		label = "SHIFT_REGISTER_OE";
    	};
    };
};

&uart0 {
	status = "okay";
	current-speed = <115200>;
	pinctrl-0 = <&uart0_default>;
	pinctrl-names = "default";
};

&gpio0 {
	status = "okay";
};

&gpio1 {
	status = "okay";
};

&spi2 {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";
	pinctrl-0 = <&spim2_default>;
	pinctrl-names = "default";
};

&trng0 {
	status = "okay";
};

&esp32_bt_hci {
	status = "okay";
};
